body {
    background-color: lightpink;
}

.p {
    width: 300px;
}

.ki {
    width: 200px;
}

.op {
    width: 200px;
}

.yu {
    width: 200px;
}

.qw {
    width: 200px;
}

.op {
    color: pink;
}

.AB {
    width: 200px;
}

.qk {
    width: 100px;
}

.mn {
    display: none;
}

.ok {
    display: none;
}

.book {
    display: none;
}

.Ti {
    display: none;
}

.ccc {
    display: none;
}

.qk{
    display:none;
}

.z{
    color:green;
    font-family: 'Short Stack', cursive;
}

.bn{
    color:green;
    font-family: 'Short Stack', cursive;
}

.hat{
    color:green;
font-family: 'Shizuru', cursive;}

.hat{
    background-color:#ff9999;
}

